body {
  margin: 0;
  height: 100vh;
  position: relative;
}

#map {
  width: 100vw;
  height: 100vh;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100vh;
  background: rgb(248 249 250 / 60%);
  border-left: 1px solid #ddd;
  padding: 16px;
  overflow-y: auto;
  z-index: 1000;
  font-family:
    San Francisco,
    sans-serif;
}

#sidebar h2 {
  text-align: center;
}

.tag-row {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 12px;
}

.tag-time {
  font-style: italic;
  color: #888;
}

.tag-schedules {
  font-size: 14px;
  text-align: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}

.tag-schedules.visible {
  padding-top: 5%;
  max-height: 500px;
  opacity: 1;
}

.tag-schedules a {
  text-decoration: none;
}

.tag-schedules:empty {
  display: none;
}
